:root {
  --footer-color: #2f303a;
  --title-mailing: #2196f3;
}
li {
  list-style-type: none;
}
.logo {
  text-decoration: none;
}
.color-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--title-mailing);
}
.color-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
nav a {
  font-family: "roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.number-site {
  color: #757575;
}
.banner-title {
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner a {
  font-family: "roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--title-mailing);
  color: #ffffff;
}
.advantages h3 {
  font-family: "roboto";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.advantages p {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.portfolio h2 {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.portfolio h3 {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.team h2 {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.name-item {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.specialty {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
.customer h2 {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.adress-container {
  background-color: var(--footer-color);
}
footer {
  background-color: var(--footer-color);
}
footer p {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.color-web-bot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--title-mailing);
}
.color-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
address p {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
address a {
  font-family: "roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.social-network p {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.mailing p {
  font-family: "roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.mailing a {
  font-family: "roboto";
  text-decoration: none;
  background-color: var(--title-mailing);
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
}
